.lbLogin {
  display: block;
  margin-bottom: 10px;
}

.lbLogin input {
  width: 10%;
}

.lbAdmin {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}

.recipeDisplay {
  display: block;
  width: 400px;
  box-sizing: border-box;
  padding: 15px;
  margin: 10px auto;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.adminDashboardAccess {
  display: flex;
}

.editRecipe {
  margin: 10px;
  height: 100%;
  width: 65%;
}

.createAdmin {
  flex: 1;
  margin: 10px;
  height: 100%;
}

.btAdmin {
  margin-top: 10px;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: rgba(23, 27, 31, 0.677);
  height: 80px;
  width: 75%; /* Ocupa 100% da largura do contêiner pai */
  font-size: 30px;
}

.updateRecipe {
  display: block;
  margin: 0px auto;
}

#searchRecipeUpdate {
  width: 45%;
  text-align: center;
}

@media only screen and (max-width: 620px) {
  .btAdmin {
    width: 80px;
    height: 55px;
    font-size: 15px;
  }

  .lbAdmin {
    width: 100%;
  }

  .recipeDisplay{
    width:150px;
    height:100px;
  }

  .lbLogin {
    display: flex;
    flex-direction: column;
  }

  .lbLogin input {
    width: 70px;
    height: 10px;
    margin-left:40px;
  }
  
}
