.shareTitle {
  justify-content: center;
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 50px;
  font-weight: 50;
  color: rgb(0, 0, 0);
}

.Share {
    display: flex;
  }
  
.leftSideShare,
.rightSideShare {
    flex: 1;
  }

.lbRecipe {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
    font-family: Tahoma, Verdana, sans-serif;
    font-size: 21px;
    font-weight: 50;
    color: rgb(0, 0, 0);
 }

.lbRecipe input {
    margin-top: 5px;
    width: 27%;
 }

.imgPreview{
  width: 500px;
  height: 500px;
  border: 2px solid #ffbb00;
 }